{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      },
      "ant"
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": true
      },
      "am"
    ],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lo"
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "."
        }
      }
    ]
  ]
}
